[env]
TERM = "xterm-256color"

[terminal.shell]
program = "fish"

[window]
decorations = "None"

[colors.primary]
background = "#1e1e2e"
foreground = "#cdd6f4"
dim_foreground = "#7f849c"
bright_foreground = "#cdd6f4"

[colors.cursor]
text = "#1e1e2e"
cursor = "#f5e0dc"

[colors.vi_mode_cursor]
text = "#1e1e2e"
cursor = "#b4befe"

[colors.search.matches]
foreground = "#1e1e2e"
background = "#a6adc8"

[colors.search.focused_match]
foreground = "#1e1e2e"
background = "#a6e3a1"

[colors.footer_bar]
foreground = "#1e1e2e"
background = "#a6adc8"

[colors.hints.start]
foreground = "#1e1e2e"
background = "#f9e2af"

[colors.hints.end]
foreground = "#1e1e2e"
background = "#a6adc8"

[colors.selection]
text = "#1e1e2e"
background = "#f5e0dc"

[colors.normal]
black = "#45475a"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#bac2de"

[colors.bright]
black = "#585b70"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#a6adc8"

[[colors.indexed_colors]]
index = 16
color = "#fab387"

[[colors.indexed_colors]]
index = 17
color = "#f5e0dc"

[font]
normal.family = "Berkeley Mono"
bold.family = "Berkeley Mono"
italic.family = "Berkeley Mono"
bold_italic.family = "Berkeley Mono"
# When I feel spicy
# normal.family = "Monaspace Krypton"
# bold.family = "Monaspace Krypton"
# italic.family = "Monaspace Krypton"
# bold_italic.family = "Monaspace Krypton"
offset = {x = 0, y = 0}

size = 14.0

[cursor]
style = { blinking = "On" }
blink_interval = 500
thickness = 0.2

[[hints.enabled]]
# On my machine, I have a shim for `open` to go to `xdg-open` so that Mac
# scripts can function with little need to cry.
command = "open"
# command = "xdg-open" # On Linux/BSD
# command = { program = "cmd", args = [ "/c", "start", "" ] } # On Windows
hyperlinks = true
post_processing = true
persist = false
mouse.enabled = true
binding = { key = "U", mods = "Control|Shift" }
regex = "(ipfs:|ipns:|magnet:|mailto:|gemini://|gopher://|https://|http://|news:|file:|git://|ssh:|ftp://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"

[keyboard]
bindings = [
    {key = "T", mods = "Control|Shift", action = "CreateNewWindow"},
    { key = "F11", action = "ToggleFullscreen" }
]
