[user]
    name = Matthew Johnston
    email = warmwaffles@gmail.com
    signingkey = FDAD946FD249002B

[ui]
    color = true

[core]
    excludesfile = ~/.gitignore

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = green
    changed = red
    untracked = cyan bold

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --date=relative
    lga = lg --all
    lgb = lg --branches
    s = status -u
    rl = reflog --date=relative
    # `git log` with patches shown with difftastic.
    dl = -c diff.external=difft log -p --ext-diff
    # Show the most recent commit with difftastic.
    ds = -c diff.external=difft show --ext-diff
    # `git diff` with difftastic.
    dft = -c diff.external=difft diff
    inthere  = commit --amend --no-edit --reset-author
    fuckit = commit --all -m 'zero fucks given'
    out = reset HEAD
    back = reset HEAD^
    save = commit -m 'saving'
    wip = commit -m 'wip\n\n[skip ci]'
    ignored = ls-files --others -i --exclude-standard
    cp = cherry-pick
    dft = difftool
    last = log -n 1
    tags = tag -l --sort=version:refname --format='%(color:green)%(refname:strip=2)%(color:reset) %(color:yellow)%(objecttype)%(color:reset) %(color:blue)%(objectname:short)%(color:reset) %(creatordate)'
    co = checkout
    up = rebase --autostash
    staash = stash --all
    changed = diff --name-only origin/master
    blg = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:red)%(objectname:short)%(color:reset) - %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) - %(color:green)(%(committerdate:relative))%(color:reset) %(color:bold cyan)<%(authorname)>%(color:reset)'
    subpull = submodule foreach git pull origin master
    repacker = repack -a -d -f --depth=300 --window=300 --window-memory=1g
    churn = !"f() { \
    git log \
    --all \
    --find-copies \
    --find-renames \
    --name-only \
    --format='format:' \
    \"$@\" | \
    awk 'NF{a[$0]++}END{for(i in a){print a[i], i}}' | \
    sort -rn; \
  };f"

[github]
    user = warmwaffles

[diff]
    algorithm = histogram
    external = difft

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true

[push]
    default = current

[apply]
    whitespace = fix

[fetch]
    prune = true

[merge]
    ff = always

[init]
    defaultBranch = main

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[commit]
    gpgsign = false

[rebase]
    updateRefs = true
